.image {
    text-align: center;
}

.image img {
    margin: 50px auto 0;
    width: 300px;
    height: auto;
}

.text {
    color: #FFBD59;
    font-size: 30px;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    margin-top: 20px;
}

.instagram-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    margin-top: 70px;
}

.instagram-content {
    display: flex;
    width: 137px;
}

.instagram-logo {
    width: 30px;
    height: 30px;
}

.instagram-text {
    color: #62115C;
    width: 30px;
    font-size: 30px;
}
