header {
    background-color: #62115C;
    height: 100px;
}

nav {
    text-align: center;
}

.navigation a {
    color: white;
    font-size: 50px;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.5;
    margin: 0 50px;
    padding: 0;
    display: inline-block;
    position: relative;
}

a:nth-child(2) {
    color: #FFBD59;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FFBD59;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

.navigation a.active::after,
.navigation a:hover::after {
    width: 100%;
}

