header {
    background-color: #62115C;
    height: 100px;
}

nav {
    text-align: center;
}

a {
    color: white;
    font-size: 50px;
    font-family: "Pathway Gothic One", Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.5;
    margin: 0 50px;
    display: inline-block;
}

a:nth-child(2) {
    color: #FFBD59;
}

a:hover {
    border: 1px solid #FFBD59;
    border-radius: 20px;
    padding: 0px;
    margin: 0 50px;

}